.portada{
  
  position: relative;
  background: url("../images/frenteEsc.jpeg") center ;
  background-size:cover ;
  height: 350px;
  
}
.portada::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(139, 138, 138, 0.5); /* Color y opacidad del overlay (0.5 = 50% de opacidad) */
  /* Puedes usar un color sólido, pero si quieres la opacidad sobre la imagen, el rgba es la mejor opción. */
}
.portada .contenido {
  position: relative; /* Eleva el contenido por encima del pseudo-elemento */
  z-index: 1; /* Asegura que el contenido esté en la capa superior */
  color: white; /* Para que el texto sea legible */
  text-align: center;
  padding: 20px;
}
h1{

color: black;

text-shadow: 2px 2px 5px rgb(218, 212, 212);

}
.citaBelgrano {
    max-width: 600px;
    margin: 1rem auto;
    padding: 0.6rem 2rem;
    background: linear-gradient(to bottom,#055B8D ,#ebebe6);
    border-radius: 12px;
    box-shadow: 0 8px 18px rgba(0,0,0,0.2);
  }

  .citaBelgrano blockquote {
  
    font-size: 1.4rem;
    
  }

  .autor {
    margin: .5rem 0 0;
    font-size: 0.95rem;
    color:#055B8D;
    font-weight: 500;
  }